.meal-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 235, 205, 0.548);
    border-radius: 20px;
    
}
.image-item{
    width: 100px;
    height: 100px;
}
.input-container{
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
}
.price{
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
    color: brown;
}
.button{
    border-radius: 20px;
    background-color: blueviolet;
    border: none;
    height: 30px;
    cursor: pointer;
}